<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Felipe Vivas" />
    <meta name="keywords" content="paisajes, red social, fotografias" />
    <meta name="description" content="proyecto 7" />

    <title>around the U.S</title>
  </head>

  <body>
    <div class="page">
      <header class="header">
        <img
          src="<%= require('./images/around-the-us.png') %>"
          alt="around the us"
          class="header__logo"
        />
      </header>
      <main>
        <section class="profile">
          <div class="profile__conteiner">
            <img
              src="<%= require('./images/profilepicture.jpg') %>"
              alt="foto perfil"
              class="profile__image"
            />
            <i class="profile__icon"></i>
          </div>
          <div class="profile__name-info">
            <div class="profile__content">
              <h2 class="profile__name">Jacques Cousteau</h2>
              <button class="profile__button">
                <img
                  src="<%= require('./images/pen-image.svg') %>"
                  alt="mouse botton"
                  class="icon__button"
                />
              </button>
            </div>

            <h3 class="profile__about">Explorador</h3>
          </div>
          <button class="add__button">
            <img
              src="<%= require('./images/plus-image.svg') %>"
              alt="mas imagen"
              class="second__button"
            />
          </button>
        </section>
        <section class="element-list"></section>
      </main>
      <template id="card__area">
        <div class="card">
          <div class="card__delate-icon"></div>
          <img src="" alt="" class="card__image" />
          <div class="card__menu">
            <h2 class="card__title"></h2>

            <button class="card__like"></button>
            <p class="pruebalikes"></p>
          </div>
        </div>
      </template>
    </div>

    <div class="popup" id="popup-profile" >
        <button class="popup__close "></button>
        <form class="popup__form popup__edit-profile" id="form-profile">
          <h2 class="popup__title">Editar Perfil</h2>
          <input
            type="text"
            placeholder="nombre"
            id="input-name"
            class="popup__item"
            minlength="2"
            maxlength="40"
            required
            name="name"
          />
          <span class="popup__input-error input-name-error"></span>

          <input
            type="text"
            placeholder="acerca de mi"
            id="input-about"
            class="popup__item"
            minlength="2"
            maxlength="200"
            required
            name="about"
          />
          <span class="popup__input-error input-about-error"></span>
          <button class="popup__submit">guardar</button>
        </form>
      </div>
    </div>

    <div class="popup" id="popup-cards">
      <div class="popup__container">
        <button class="popup__close"></button>
        <form class="popup__form popup__add-profile" id="form-cards">
          <h2 class="popup__title">crear carta</h2>
          <input
            type="text"
            name="name"
            placeholder="title"
            id="input-card-title"
            class="popup__item"
            minlength="2"
            maxlength="40"
          />
          <span class="popup__input-error input-card-title-error"></span>

          <input
            type="url"
            name="link"
            placeholder="cargar imagen"
            id="input-card-link"
            class="popup__item"
            required
          />
          <span class="popup__input-error input-card-link-error"></span>
          <button class="popup__submit">crear</button>
        </form>
      </div>
    </div>
    <div class="popup" id="popup-delete">
      <button class="popup__close"></button>
      <form

        class="popup__form popup__delete-card"
        id="form-delete"
      >
        <h2 class="popup__title">Eliminar Carta</h2>
        <p class="popup__text">¿Estás seguro de eliminar esta carta?</p>
        <button class="popup__submit">eliminar</button>
      </form>
    </div>

    <div class="popup" id="popup-avatar-edit">
      <div class="popup__container">
      <button class="popup__close"></button>
      <form
        class="popup__form popup__avatar-edit"

        id="form-avatar-edit"
      >
        <h2 class="popup__title">Cambiar foto de perfil</h2>
        <input
            type="url"
            name="avatar"
            placeholder="cargar imagen"
            id="input-avatar-link"
            class="popup__item"
            required
          />
          <span class="popup__input-error input-avatar-link-error"></span>
        <button class="popup__submit">eliminar</button>
      </form>
    </div>
    </div>
    <div class="popup" id="popup-image">
      <div class="popup__container">
        <button class="popup__close"></button>

        <img src="" alt="" class="popup__image-src" />
        <h3 class="popup__image-title"></h3>
      </div>
    </div>
  </body>
</html>
